<div class="container pt-4">
  <% if !current_user.organisation_id %>
    <p>You aren't a member of any organisations. Join an existing one or create a new one. </p>
  <% end %>
  <div class="row">
    <div class="col-12 col-lg-8 p-2">
      <h1>Organisations</h1>
      <% if @organisations %>
        <ul>
          <% @organisations.each do |organisation| %>
            <li class="m-3">
              <div class="d-flex">
                <div class="flex-grow-1"><span><%= link_to organisation.name, organisation_path(organisation), class: "text-decoration-none" %></span></div>
                <div><%= link_to "Edit", edit_organisation_path(organisation), class: "text-decoration-none btn btn-info p-2 mx-1" %></div>
                <% if current_user.organisation == organisation %>
                  <div><%= link_to "Leave", leave_organisation_path(organisation), class: "text-decoration-none btn btn-danger p-2 mx-1" %></div>
                <% else %>
                  <div><%= link_to "Join", join_organisation_path(organisation), class: "text-decoration-none btn btn-success p-2 mx-1" %></div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="col-12 col-lg-4 p-2">
      <h3>Add an organisation</h3>
      <%= render 'form', organisation: @organisation %>
    </div>
  </div>
</div>
