<div class="container pt-4">
  <h1>Here is <%= @organisation.name %>'s shifts</h1>
  <% if @shifts.present? %>
    <table class="table table-striped table-hover text-center mt-3">
      <thead>
        <tr>
          <th>Employee name</th>
          <th>Shift date</th>
          <th>Start time</th>
          <th>Finish time</th>
          <th>Break length</th>
          <th>Hours worked</th>
          <th>Shift cost</th>
        </tr>
      </thead>
      <tbody>
        <% @shifts.each do |shift| %>
          <tr>
            <td><%= shift.user.name %></td>
            <td><%= shift.started_at.strftime("%d/%m/%Y") %></td>
            <td><%= shift.started_at.strftime("%I:%M%p") %></td>
            <td><%= shift.ended_at.strftime("%I:%M%p") %></td>
            <td><%= shift.break_length %> min</td>
            <td><%= net_work_hours(shift) %></td>
            <td><%= shift.shift_cost(@organisation.hourly_rate).round(2) %></td>
            <td>
              <%= link_to "Modify", organisation_shift_path(@organisation, shift), method: :put, class: "text-decoration-none btn btn-info" %>
              <%= link_to "Delete", organisation_shift_path(@organisation, shift), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none btn btn-danger" %>
            </td>
          </tr>
        <% end %>
  <% else %>
          <tr>Be the first one that start a shift at <%= @organisation.name %></tr>
  <% end %>
      </tbody>
    </table>
    <div class="mt-5">
      <h3 class="mb-4">Let's add your shift, <%= current_user.name %></h3>
      <%= simple_form_for [@organisation, @shift] do |f| %>
        <div class="d-flex justify-content-around">
          <div><%= f.input :shift_date, as: :date, html5: true, label: "Shift date" %></div>
          <div><%= f.input :start_time, as: :time, html5: true, label: "Start" %></div>
          <div><%= f.input :end_time, as: :time, html5: true, label: "Finish" %></div>
          <div><%= f.input :break_length, label: "Break length (minutes)" %></div>
          <div class="mt-4"><%= f.button :submit, class: "btn btn-success" %></div>
        </div>
      <% end %>
    </div>
</div>
