<div class="container pt-4">
  <h1>Here is <%= @organisation.name %>'s shifts</h1>
  <table class="table table-striped table-hover mt-3">
    <thead>
      <tr>
        <th>Employee name</th>
        <th>Shift date</th>
        <th>Start time</th>
        <th>Finish time</th>
        <th>Break length</th>
        <th>Hours worked</th>
        <th>Shift cost</th>
      </tr>
    </thead>
    <tbody>
      <% if @shifts %>
        <% @shifts.each do |shift| %>
          <tr>
            <td><%= shift.user.name %></td>
            <td><%= shift.started_at.strftime("%d/%m/%Y") %></td>
            <td><%= shift.started_at.strftime("%I:%M%p") %></td>
            <td><%= shift.ended_at.strftime("%I:%M%p") %></td>
            <td><%= shift.break_length %> min</td>
            <td><%= net_work_hours(shift) %></td>
            <td><%= shift.shift_cost(@organisation.hourly_rate) %></td>
            <td><%= link_to "Delete", organisation_shifts_path(@organisation), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-decoration-none btn btn-danger" %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>Be the first one that start a shift at <%= @organisation.name %></tr>
      <% end %>
      <%= simple_form_for [@organisation, @shift] do |f| %>
        <tr>
          <td class="text-center"><%= current_user.name %></td>
          <td class="text-center"><%= f.input :started_at, as: :date, html5: true, label: false %></td>
          <td class="text-center"><%= f.input :started_at, as: :time, ignore_date: true, html5: true, label: false %></td>
          <td class="text-center"><%= f.input :ended_at, as: :time, ignore_date: true, html5: true, label: false %></td>
          <td class="text-center"><%= f.input :break_length, label: false %></td>
          <td colspan="4" class="text-center"><%= f.button :submit, class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
