<div class="container pt-4">
  <h1>Here is <%= @organisation.name %>'s shifts</h1>
  <% if @shifts.present? %>
    <%= render "list", shifts: @shifts, organisation: @organisation %>
  <% else %>
    <p>Be the first one that start a shift at <%= @organisation.name %></p>
  <% end %>
  <div class="mt-5">
    <h3 class="mb-4">Let's add your shift, <%= current_user.name %></h3>
    <%= render "form", organisation: @organisation, shift: @shift %>
  </div>

  <div class="mt-5">
    <h4 class="mb-4"><%= link_to "Previous Employees' shifts", previous_organisation_shifts_path(@organisation), class: "text-decoration-none" %></h4>
  </div>
</div>
